In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import product
from xgboost import XGBRegressor
from sklearn.preprocessing import LabelEncoder
import gc
%matplotlib inline

In [2]:
train = pd.read_csv("../input/sales_train.csv")
items = pd.read_csv("../input/items.csv")
shops = pd.read_csv("../input/shops.csv")
cats = pd.read_csv("../input/item_categories.csv")
test = pd.read_csv("../input/test.csv").set_index('ID')

In [3]:
train.head(2)

         date  date_block_num      ...       item_price  item_cnt_day
0  02.01.2013               0      ...            999.0           1.0
1  03.01.2013               0      ...            899.0           1.0

[2 rows x 6 columns]

In [4]:
items.head(7)

                                           item_name        ...         item_category_id
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        ...                       40
1  !ABBYY FineReader 12 Professional Edition Full...        ...                       76
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        ...                       40
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        ...                       40
4        ***КОРОБКА (СТЕКЛО)                       D        ...                       40
5  ***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ  (UNI)         ...        ...                       40
6           ***УДАР ПО ВОРОТАМ (UNI)               D        ...                       40

[7 rows x 3 columns]

In [5]:
shops.head(7)

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4
5          Вологда ТРЦ "Мармелад"        5
6      Воронеж (Плехановская, 13)        6

In [6]:
cats.head(7)

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4
5      Аксессуары - PSVita                 5
6    Аксессуары - XBOX 360                 6

In [7]:
test.head(2)

    shop_id  item_id
ID
0         5     5037
1         5     5320

In [8]:
shops['city'] = shops['shop_name'].str.split(' ').map(lambda x: x[0])
shops['city_code'] = LabelEncoder().fit_transform(shops['city'])
shops = shops[['shop_id','city_code']]
shops.head()

   shop_id  city_code
0        0          0
1        1          0
2        2          1
3        3          2
4        4          3

In [9]:
cats['type'] = cats['item_category_name'].str.split('-').map(lambda x: x[0].strip())
cats['type_code'] = LabelEncoder().fit_transform(cats['type'])
# if subtype is nan then type
cats['subtype'] = cats['item_category_name'].str.split('-').map(lambda x: x[1].strip() if len(x) > 1 else x[0].strip())
cats['subtype_code'] = LabelEncoder().fit_transform(cats['subtype'])
cats = cats[['item_category_id','type_code', 'subtype_code']]

In [10]:
cats.head()

   item_category_id  type_code  subtype_code
0                 0          0            29
1                 1          1             9
2                 2          1            10
3                 3          1            11
4                 4          1            13

In [11]:
train[train['item_price'] < 0]

              date  date_block_num      ...       item_price  item_cnt_day
484683  15.05.2013               4      ...             -1.0           1.0

[1 rows x 6 columns]

In [12]:
median = train[(train.shop_id==32)&(train.item_id==2973)&(train.date_block_num==4)&(train.item_price>0)].item_price.median()
train.loc[train.item_price<0, 'item_price'] = median

In [13]:
train['date'] = pd.to_datetime(train['date'])
train['month'] = train['date'].apply(lambda time: time.month)
train['year']  = train['date'].apply(lambda time: time.year)

In [14]:
train['revenue'] = train['item_price'] *  train['item_cnt_day']

In [15]:
test['date_block_num'] = 34
test['month'] = 11
test['year'] = 2015

In [16]:
total = pd.concat([train.drop('date',axis=1), test], ignore_index=True, sort=False)
total.fillna(0,inplace=True)
total.head()

   date_block_num  shop_id  item_id   ...     month  year  revenue
0               0       59    22154   ...         2  2013   999.00
1               0       25     2552   ...         3  2013   899.00
2               0       25     2552   ...         5  2013  -899.00
3               0       25     2554   ...         6  2013  1709.05
4               0       25     2555   ...         1  2013  1099.00

[5 rows x 8 columns]

In [17]:
group = total.groupby(['date_block_num','shop_id','item_id']).agg({'item_cnt_day': ['sum']})
group.columns = ['item_cnt_month']

total = pd.merge(total, group, on=['date_block_num','shop_id','item_id'], how='left')
total['item_cnt_month'] = total['item_cnt_month'].fillna(0)

total.head()

   date_block_num  shop_id       ...        revenue  item_cnt_month
0               0       59       ...         999.00             1.0
1               0       25       ...         899.00             0.0
2               0       25       ...        -899.00             0.0
3               0       25       ...        1709.05             1.0
4               0       25       ...        1099.00             1.0

[5 rows x 9 columns]

In [18]:
items.drop('item_name',axis=1,inplace=True)
total = pd.merge(total, items, on='item_id', how='left')

total = pd.merge(total, cats, on='item_category_id', how='left')

total = pd.merge(total, shops, on='shop_id', how='left')
total.head()

   date_block_num  shop_id    ...      subtype_code  city_code
0               0       59    ...                 1         31
1               0       25    ...                27         14
2               0       25    ...                27         14
3               0       25    ...                27         14
4               0       25    ...                 3         14

[5 rows x 13 columns]

In [19]:
def lag(lags, col):
    
    for i in lags:
        
        total[col+'_lag_'+str(i)] = total[col].shift(i)
        
    total.fillna(0, inplace=True)

In [20]:
lag([1,2,3,6,12], 'item_cnt_month')

In [21]:
group = total.groupby(['date_block_num']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_avg_item_cnt']

total = pd.merge(total, group, on=['date_block_num'], how='left')
total['date_avg_item_cnt'] = total['date_avg_item_cnt'].fillna(0)

lag([1,2,3,6,12], 'date_avg_item_cnt')

In [22]:
group = total.groupby(['date_block_num','item_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_item_avg_item_cnt']

total = pd.merge(total, group, on=['date_block_num','item_id'], how='left')
total['date_item_avg_item_cnt'] = total['date_item_avg_item_cnt'].fillna(0)

lag([1,2,3,6,12], 'date_item_avg_item_cnt')

In [23]:
group = total.groupby(['date_block_num','shop_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_shop_avg_item_cnt']

total = pd.merge(total, group, on=['date_block_num','shop_id'], how='left')
total['date_shop_avg_item_cnt'] = total['date_shop_avg_item_cnt'].fillna(0)

lag([1,2,3,6,12], 'date_shop_avg_item_cnt')

In [24]:
group = total.groupby(['date_block_num','shop_id','item_category_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_shop_cat_avg_item_cnt']

total = pd.merge(total, group, on=['date_block_num','shop_id','item_category_id'], how='left')
total['date_shop_cat_avg_item_cnt'] = total['date_shop_cat_avg_item_cnt'].fillna(0)

lag([1], 'date_shop_avg_item_cnt')

In [25]:
group = total.groupby(['date_block_num','item_category_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_cat_avg_item_cnt']

total = pd.merge(total, group, on=['date_block_num','item_category_id'], how='left')
total['date_cat_avg_item_cnt'] = total['date_cat_avg_item_cnt'].fillna(0)

lag([1], 'date_shop_avg_item_cnt')

In [26]:
group = total.groupby(['date_block_num','city_code','item_id']).agg({'item_cnt_month': ['mean']})
group.columns = ['date_city_item_avg_item_cnt']

total = pd.merge(total, group, on=['date_block_num','city_code','item_id'], how='left')
total['date_city_item_avg_item_cnt'] = total['date_city_item_avg_item_cnt'].fillna(0)

lag([1], 'date_shop_avg_item_cnt')

In [27]:
#total= total[total['date_block_num'] > 11 ]
#total.head(5)

In [28]:
X_train = total[total.date_block_num < 33].drop(['item_cnt_month'], axis=1)
y_train = total[total.date_block_num < 33]['item_cnt_month']
X_valid = total[total.date_block_num == 33].drop(['item_cnt_month'], axis=1)
y_valid = total[total.date_block_num == 33]['item_cnt_month']
X_test = total[total.date_block_num == 34].drop(['item_cnt_month'], axis=1)

In [29]:
del train
del items
del shops
del cats 
del group
del total
gc.collect()

309

In [30]:
model = XGBRegressor(
    max_depth=8,
    n_estimators=1000,
    min_child_weight=300, 
    colsample_bytree=0.8, 
    subsample=0.8, 
    eta=0.3,    
    seed=42)

model.fit(
    X_train, 
    y_train, 
    eval_metric="rmse", 
    eval_set=[(X_train, y_train), (X_valid, y_valid)], 
    verbose=True, 
    early_stopping_rounds = 10)

/opt/conda/lib/python3.6/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/opt/conda/lib/python3.6/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[0]	validation_0-rmse:27.7888	validation_1-rmse:45.9931
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:25.1934	validation_1-rmse:44.1411
[2]	validation_0-rmse:22.8466	validation_1-rmse:42.5932
[3]	validation_0-rmse:20.8065	validation_1-rmse:40.7403
[4]	validation_0-rmse:18.9256	validation_1-rmse:39.6901
[5]	validation_0-rmse:17.2376	validation_1-rmse:38.7719
[6]	validation_0-rmse:15.7355	validation_1-rmse:37.9418
[7]	validation_0-rmse:14.3595	validation_1-rmse:36.7106
[8]	validation_0-rmse:13.1694	validation_1-rmse:36.1572
[9]	validation_0-rmse:12.1204	validation_1-rmse:35.717
[10]	validation_0-rmse:11.191	validation_1-rmse:35.3501
[11]	validation_0-rmse:10.3738	validation_1-rmse:34.9948
[12]	validation_0-rmse:9.65609	validation_1-rmse:34.6951
[13]	validation_0-rmse:9.03927	validation_1-rmse:34.488
[14]	validation_0-rmse:8.4543	validation_1-rmse:34.0116
[15]	validation_0-rmse:7.9423	validation_1-rmse:33.5782
[16]	validation_0-rmse:7.50138	validation_1-rmse:33.1957
[17]	validation_0-rmse:7.13186	validation_1-rmse:32.9884
[18]	validation_0-rmse:6.79866	validation_1-rmse:32.6011
[19]	validation_0-rmse:6.52351	validation_1-rmse:32.4342
[20]	validation_0-rmse:6.20322	validation_1-rmse:31.9287
[21]	validation_0-rmse:5.92434	validation_1-rmse:31.6063
[22]	validation_0-rmse:5.7007	validation_1-rmse:31.2274
[23]	validation_0-rmse:5.49562	validation_1-rmse:30.851
[24]	validation_0-rmse:5.31656	validation_1-rmse:30.6239
[25]	validation_0-rmse:5.15146	validation_1-rmse:30.3223
[26]	validation_0-rmse:5.01127	validation_1-rmse:30.0511
[27]	validation_0-rmse:4.89195	validation_1-rmse:29.8279
[28]	validation_0-rmse:4.79685	validation_1-rmse:29.6783
[29]	validation_0-rmse:4.70266	validation_1-rmse:29.4684
[30]	validation_0-rmse:4.61764	validation_1-rmse:29.2463
[31]	validation_0-rmse:4.55397	validation_1-rmse:29.0956
[32]	validation_0-rmse:4.48942	validation_1-rmse:28.9102
[33]	validation_0-rmse:4.44769	validation_1-rmse:28.8071
[34]	validation_0-rmse:4.39378	validation_1-rmse:28.6209
[35]	validation_0-rmse:4.34809	validation_1-rmse:28.4908
[36]	validation_0-rmse:4.30276	validation_1-rmse:28.4151
[37]	validation_0-rmse:4.2708	validation_1-rmse:28.2964
[38]	validation_0-rmse:4.23508	validation_1-rmse:28.1522
[39]	validation_0-rmse:4.2034	validation_1-rmse:28.0241
[40]	validation_0-rmse:4.1757	validation_1-rmse:27.9322
[41]	validation_0-rmse:4.14987	validation_1-rmse:27.7986
[42]	validation_0-rmse:4.13178	validation_1-rmse:27.6953
[43]	validation_0-rmse:4.1068	validation_1-rmse:27.595
[44]	validation_0-rmse:4.08892	validation_1-rmse:27.4994
[45]	validation_0-rmse:4.07096	validation_1-rmse:27.3603
[46]	validation_0-rmse:4.04677	validation_1-rmse:27.2584
[47]	validation_0-rmse:4.02741	validation_1-rmse:27.1776
[48]	validation_0-rmse:4.01479	validation_1-rmse:27.0956
[49]	validation_0-rmse:3.99852	validation_1-rmse:27.0344
[50]	validation_0-rmse:3.98486	validation_1-rmse:26.9818
[51]	validation_0-rmse:3.97236	validation_1-rmse:26.9139
[52]	validation_0-rmse:3.95974	validation_1-rmse:26.8473
[53]	validation_0-rmse:3.944	validation_1-rmse:26.7217
[54]	validation_0-rmse:3.93039	validation_1-rmse:26.6443
[55]	validation_0-rmse:3.91902	validation_1-rmse:26.6065
[56]	validation_0-rmse:3.90691	validation_1-rmse:26.5453
[57]	validation_0-rmse:3.89571	validation_1-rmse:26.4503
[58]	validation_0-rmse:3.88571	validation_1-rmse:26.3983
[59]	validation_0-rmse:3.87942	validation_1-rmse:26.339
[60]	validation_0-rmse:3.87089	validation_1-rmse:26.2813
[61]	validation_0-rmse:3.86337	validation_1-rmse:26.2547
[62]	validation_0-rmse:3.85406	validation_1-rmse:26.2046
[63]	validation_0-rmse:3.84388	validation_1-rmse:26.1401
[64]	validation_0-rmse:3.82748	validation_1-rmse:26.0662
[65]	validation_0-rmse:3.81781	validation_1-rmse:26.0003
[66]	validation_0-rmse:3.80835	validation_1-rmse:25.9703
[67]	validation_0-rmse:3.80071	validation_1-rmse:25.9199
[68]	validation_0-rmse:3.79174	validation_1-rmse:25.8722
[69]	validation_0-rmse:3.78434	validation_1-rmse:25.8431
[70]	validation_0-rmse:3.77155	validation_1-rmse:25.7629
[71]	validation_0-rmse:3.76467	validation_1-rmse:25.7138
[72]	validation_0-rmse:3.75045	validation_1-rmse:25.7402
[73]	validation_0-rmse:3.74175	validation_1-rmse:25.6846
[74]	validation_0-rmse:3.73295	validation_1-rmse:25.6529
[75]	validation_0-rmse:3.72657	validation_1-rmse:25.6065
[76]	validation_0-rmse:3.72153	validation_1-rmse:25.5836
[77]	validation_0-rmse:3.71454	validation_1-rmse:25.5561
[78]	validation_0-rmse:3.70186	validation_1-rmse:25.4976
[79]	validation_0-rmse:3.69445	validation_1-rmse:25.5088
[80]	validation_0-rmse:3.68829	validation_1-rmse:25.4641
[81]	validation_0-rmse:3.67875	validation_1-rmse:25.3955
[82]	validation_0-rmse:3.67108	validation_1-rmse:25.3362
[83]	validation_0-rmse:3.66221	validation_1-rmse:25.2736
[84]	validation_0-rmse:3.65623	validation_1-rmse:25.2172
[85]	validation_0-rmse:3.64851	validation_1-rmse:25.1773
[86]	validation_0-rmse:3.64225	validation_1-rmse:25.129
[87]	validation_0-rmse:3.63531	validation_1-rmse:25.0759
[88]	validation_0-rmse:3.62617	validation_1-rmse:25.0339
[89]	validation_0-rmse:3.61863	validation_1-rmse:25.0032
[90]	validation_0-rmse:3.60201	validation_1-rmse:24.9661
[91]	validation_0-rmse:3.59455	validation_1-rmse:24.8995
[92]	validation_0-rmse:3.58852	validation_1-rmse:24.9195
[93]	validation_0-rmse:3.58384	validation_1-rmse:24.8763
[94]	validation_0-rmse:3.57575	validation_1-rmse:24.8775
[95]	validation_0-rmse:3.57324	validation_1-rmse:24.8587
[96]	validation_0-rmse:3.56838	validation_1-rmse:24.8328
[97]	validation_0-rmse:3.55428	validation_1-rmse:24.7591
[98]	validation_0-rmse:3.5496	validation_1-rmse:24.7586
[99]	validation_0-rmse:3.54312	validation_1-rmse:24.7669
[100]	validation_0-rmse:3.53787	validation_1-rmse:24.7435
[101]	validation_0-rmse:3.52931	validation_1-rmse:24.7014
[102]	validation_0-rmse:3.51267	validation_1-rmse:24.6612
[103]	validation_0-rmse:3.50426	validation_1-rmse:24.6596
[104]	validation_0-rmse:3.49897	validation_1-rmse:24.6247
[105]	validation_0-rmse:3.48866	validation_1-rmse:24.5801
[106]	validation_0-rmse:3.48081	validation_1-rmse:24.5807
[107]	validation_0-rmse:3.47709	validation_1-rmse:24.5337
[108]	validation_0-rmse:3.46783	validation_1-rmse:24.557
[109]	validation_0-rmse:3.45925	validation_1-rmse:24.5475
[110]	validation_0-rmse:3.45173	validation_1-rmse:24.5584
[111]	validation_0-rmse:3.44507	validation_1-rmse:24.5321
[112]	validation_0-rmse:3.4421	validation_1-rmse:24.5082
[113]	validation_0-rmse:3.43571	validation_1-rmse:24.5362
[114]	validation_0-rmse:3.43084	validation_1-rmse:24.5061
[115]	validation_0-rmse:3.42389	validation_1-rmse:24.4764
[116]	validation_0-rmse:3.41764	validation_1-rmse:24.4421
[117]	validation_0-rmse:3.41256	validation_1-rmse:24.4226
[118]	validation_0-rmse:3.40506	validation_1-rmse:24.3869
[119]	validation_0-rmse:3.39925	validation_1-rmse:24.3523
[120]	validation_0-rmse:3.39682	validation_1-rmse:24.3145
[121]	validation_0-rmse:3.38781	validation_1-rmse:24.2875
[122]	validation_0-rmse:3.38478	validation_1-rmse:24.2655
[123]	validation_0-rmse:3.3812	validation_1-rmse:24.2168
[124]	validation_0-rmse:3.37748	validation_1-rmse:24.1854
[125]	validation_0-rmse:3.37282	validation_1-rmse:24.1734
[126]	validation_0-rmse:3.37043	validation_1-rmse:24.1845
[127]	validation_0-rmse:3.36688	validation_1-rmse:24.1564
[128]	validation_0-rmse:3.36379	validation_1-rmse:24.1102
[129]	validation_0-rmse:3.36062	validation_1-rmse:24.0795
[130]	validation_0-rmse:3.35321	validation_1-rmse:24.0667
[131]	validation_0-rmse:3.34584	validation_1-rmse:24.0499
[132]	validation_0-rmse:3.34138	validation_1-rmse:24.065
[133]	validation_0-rmse:3.33597	validation_1-rmse:24.0326
[134]	validation_0-rmse:3.33254	validation_1-rmse:24.0571
[135]	validation_0-rmse:3.32656	validation_1-rmse:24.0006
[136]	validation_0-rmse:3.32431	validation_1-rmse:24.0151
[137]	validation_0-rmse:3.3195	validation_1-rmse:24.0318
[138]	validation_0-rmse:3.31634	validation_1-rmse:24.0097
[139]	validation_0-rmse:3.31372	validation_1-rmse:23.9822
[140]	validation_0-rmse:3.31123	validation_1-rmse:23.9826
[141]	validation_0-rmse:3.30872	validation_1-rmse:23.9722
[142]	validation_0-rmse:3.30534	validation_1-rmse:23.9844
[143]	validation_0-rmse:3.30292	validation_1-rmse:23.9953
[144]	validation_0-rmse:3.29947	validation_1-rmse:23.9884
[145]	validation_0-rmse:3.29317	validation_1-rmse:23.9786
[146]	validation_0-rmse:3.29017	validation_1-rmse:23.9694
[147]	validation_0-rmse:3.28794	validation_1-rmse:23.9417
[148]	validation_0-rmse:3.28427	validation_1-rmse:23.9164
[149]	validation_0-rmse:3.27854	validation_1-rmse:23.891
[150]	validation_0-rmse:3.27594	validation_1-rmse:23.8674
[151]	validation_0-rmse:3.27238	validation_1-rmse:23.8733
[152]	validation_0-rmse:3.26914	validation_1-rmse:23.8591
[153]	validation_0-rmse:3.26416	validation_1-rmse:23.8491
[154]	validation_0-rmse:3.26159	validation_1-rmse:23.8529
[155]	validation_0-rmse:3.25907	validation_1-rmse:23.8349
[156]	validation_0-rmse:3.25645	validation_1-rmse:23.808
[157]	validation_0-rmse:3.25363	validation_1-rmse:23.7855
[158]	validation_0-rmse:3.25134	validation_1-rmse:23.8046
[159]	validation_0-rmse:3.24831	validation_1-rmse:23.7822
[160]	validation_0-rmse:3.24587	validation_1-rmse:23.7768
[161]	validation_0-rmse:3.24478	validation_1-rmse:23.7627
[162]	validation_0-rmse:3.24183	validation_1-rmse:23.7539
[163]	validation_0-rmse:3.23737	validation_1-rmse:23.7376
[164]	validation_0-rmse:3.23498	validation_1-rmse:23.7532
[165]	validation_0-rmse:3.23185	validation_1-rmse:23.7316
[166]	validation_0-rmse:3.22806	validation_1-rmse:23.7079
[167]	validation_0-rmse:3.22537	validation_1-rmse:23.6879
[168]	validation_0-rmse:3.22358	validation_1-rmse:23.7016
[169]	validation_0-rmse:3.22141	validation_1-rmse:23.6898
[170]	validation_0-rmse:3.21861	validation_1-rmse:23.667
[171]	validation_0-rmse:3.2168	validation_1-rmse:23.6527
[172]	validation_0-rmse:3.21177	validation_1-rmse:23.671
[173]	validation_0-rmse:3.2104	validation_1-rmse:23.6574
[174]	validation_0-rmse:3.20519	validation_1-rmse:23.6703
[175]	validation_0-rmse:3.203	validation_1-rmse:23.6728
[176]	validation_0-rmse:3.20159	validation_1-rmse:23.6595
[177]	validation_0-rmse:3.19848	validation_1-rmse:23.6737
[178]	validation_0-rmse:3.19638	validation_1-rmse:23.6551
[179]	validation_0-rmse:3.19198	validation_1-rmse:23.6333
[180]	validation_0-rmse:3.19036	validation_1-rmse:23.6145
[181]	validation_0-rmse:3.18821	validation_1-rmse:23.5844
[182]	validation_0-rmse:3.18622	validation_1-rmse:23.5684
[183]	validation_0-rmse:3.18325	validation_1-rmse:23.581
[184]	validation_0-rmse:3.18131	validation_1-rmse:23.5972
[185]	validation_0-rmse:3.17657	validation_1-rmse:23.5815
[186]	validation_0-rmse:3.17101	validation_1-rmse:23.5864
[187]	validation_0-rmse:3.16847	validation_1-rmse:23.5677
[188]	validation_0-rmse:3.1647	validation_1-rmse:23.5704
[189]	validation_0-rmse:3.16262	validation_1-rmse:23.5478
[190]	validation_0-rmse:3.15749	validation_1-rmse:23.5623
[191]	validation_0-rmse:3.15448	validation_1-rmse:23.5509
[192]	validation_0-rmse:3.15265	validation_1-rmse:23.5351
[193]	validation_0-rmse:3.15047	validation_1-rmse:23.5228
[194]	validation_0-rmse:3.14183	validation_1-rmse:23.4986
[195]	validation_0-rmse:3.14039	validation_1-rmse:23.4929
[196]	validation_0-rmse:3.13498	validation_1-rmse:23.5032
[197]	validation_0-rmse:3.13318	validation_1-rmse:23.5055
[198]	validation_0-rmse:3.13158	validation_1-rmse:23.4902
[199]	validation_0-rmse:3.12836	validation_1-rmse:23.4769
[200]	validation_0-rmse:3.12693	validation_1-rmse:23.4595
[201]	validation_0-rmse:3.1254	validation_1-rmse:23.4408
[202]	validation_0-rmse:3.12375	validation_1-rmse:23.424
[203]	validation_0-rmse:3.12181	validation_1-rmse:23.4375
[204]	validation_0-rmse:3.11929	validation_1-rmse:23.4208
[205]	validation_0-rmse:3.11472	validation_1-rmse:23.4008
[206]	validation_0-rmse:3.11291	validation_1-rmse:23.3819
[207]	validation_0-rmse:3.11076	validation_1-rmse:23.384
[208]	validation_0-rmse:3.10873	validation_1-rmse:23.3667
[209]	validation_0-rmse:3.10587	validation_1-rmse:23.3537
[210]	validation_0-rmse:3.10157	validation_1-rmse:23.3244
[211]	validation_0-rmse:3.10046	validation_1-rmse:23.3313
[212]	validation_0-rmse:3.09814	validation_1-rmse:23.3352
[213]	validation_0-rmse:3.09472	validation_1-rmse:23.3351
[214]	validation_0-rmse:3.09297	validation_1-rmse:23.3305
[215]	validation_0-rmse:3.09186	validation_1-rmse:23.3532
[216]	validation_0-rmse:3.09066	validation_1-rmse:23.3496
[217]	validation_0-rmse:3.08886	validation_1-rmse:23.3286
[218]	validation_0-rmse:3.08527	validation_1-rmse:23.3334
[219]	validation_0-rmse:3.08344	validation_1-rmse:23.3277
[220]	validation_0-rmse:3.08236	validation_1-rmse:23.318
[221]	validation_0-rmse:3.08033	validation_1-rmse:23.3028
[222]	validation_0-rmse:3.07739	validation_1-rmse:23.2864
[223]	validation_0-rmse:3.0745	validation_1-rmse:23.272
[224]	validation_0-rmse:3.07337	validation_1-rmse:23.2525
[225]	validation_0-rmse:3.07039	validation_1-rmse:23.2584
[226]	validation_0-rmse:3.06844	validation_1-rmse:23.2457
[227]	validation_0-rmse:3.06637	validation_1-rmse:23.2327
[228]	validation_0-rmse:3.06472	validation_1-rmse:23.2307
[229]	validation_0-rmse:3.06321	validation_1-rmse:23.2257
[230]	validation_0-rmse:3.06148	validation_1-rmse:23.2388
[231]	validation_0-rmse:3.06056	validation_1-rmse:23.2313
[232]	validation_0-rmse:3.05841	validation_1-rmse:23.2492
[233]	validation_0-rmse:3.05718	validation_1-rmse:23.2595
[234]	validation_0-rmse:3.05596	validation_1-rmse:23.2411
[235]	validation_0-rmse:3.05389	validation_1-rmse:23.2378
[236]	validation_0-rmse:3.05274	validation_1-rmse:23.2272
[237]	validation_0-rmse:3.05094	validation_1-rmse:23.2417
[238]	validation_0-rmse:3.04921	validation_1-rmse:23.2473
[239]	validation_0-rmse:3.04819	validation_1-rmse:23.2378
Stopping. Best iteration:
[229]	validation_0-rmse:3.06321	validation_1-rmse:23.2257

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, eta=0.3, gamma=0, importance_type='gain',
       learning_rate=0.1, max_delta_step=0, max_depth=8,
       min_child_weight=300, missing=None, n_estimators=1000, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=42, silent=True,
       subsample=0.8)

In [31]:
y_pred = model.predict(X_valid).clip(0, 20)
y_test = model.predict(X_test).clip(0, 20)

In [32]:
submission = pd.DataFrame({"ID":test.index, "item_cnt_month":y_test})
submission.to_csv('submission.csv',index=False)